# === Django ===
# Сгенерировать: python3 -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=замени_на_случайную_строку
DEBUG=False
# IP твоего сервера (можно несколько через пробел)
ALLOWED_HOSTS=123.45.67.89

# === PostgreSQL ===
POSTGRES_DB=sportsman_db
POSTGRES_USER=sportsman_user
POSTGRES_PASSWORD=замени_на_сложный_пароль

TELEGRAM_BOT_TOKEN=токен_бота
TELEGRAM_CHAT_ID=id_группы