__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
db.sqlite3
backend/media/
backend/staticfiles/
backend/local_settings.py

.env
.env.local
.env.*.local
*.log
docker-compose.override.yml
# Тот самый файл сокета, о котором мы говорили
*.ctl
gunicorn.ctl

# Frontend


# IDE
.idea/
.DS_Store